{{> header}}
<body class="grid-container">
	{{> sidebar}}
	<div>
		<h1>{{title}}</h1>
		<form method='POST' action=''>
			<div class="form-group">
				<label for="first-name">First name:</label>
				<input id="first-name" class="form-control" type="text" placeholder="First name" name="first_name">
			</div>
		</form>
	</div>
</body>