* {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

.grid-container {
	display: grid;
	grid-template-columns: 20% auto;
}

.sidebar-nav {
    margin-top: 5%;
    margin-right: 5%;
    padding: 0;
    list-style: none;
}

.content {
	grid-column: 2;
}

.text-success {
	color: green;
}

.text-warning {
	color: brown;
}

.text-danger {
	color: red;
}

.form-group {
	padding: 1%;
}

.genre-form-group {
	display: inline;
	padding-right: 2%;
}

.genre-form-group div {
	display: inline;
	padding-right: 1%;
}