* {
	font-family: "Lucida Grande";
	background-color: tan;
}

.grid-container {
	display: grid;
	grid-template-columns: 20% auto;
}

.sidebar-nav {
    margin-top: 5%;
    margin-right: 5%;
    padding: 0;
    list-style: none;
}

.content {
	grid-column: 2;
}
